.gastoContainer{
    width:  80%;
    min-height: 100px;
    height: auto;
    background-color: rgb(255, 255, 255);
    border: solid 2px gray;
    border-radius: 10px;
    margin: auto;
    margin-top: 50px;
}
.gasto{
    display: flex;
    flex-direction: row;
    gap: 5px;
    justify-content: space-between;
    align-items: center;
    margin: 0 10%;
}